@charset utf-8;

/*header*/

.container-fluid {
   background-color: #152f45;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    border-color: #152f45;
}
.navbar-inverse .navbar-nav>li>a {
     color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #277cb0;
}
.Nav2. a:hover {
    color: #277cb0;
}
.Nav2. a {
   text-decoration: none;
   float: right;
}
.Nav2 ul.nav.navbar-nav {
    float: right;
}
.imagen {
    margin-top: 50px;
}
/*Main Principales*/
#main2 {
    position: relative;
}
#main3 {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 847px;
    margin: 0 auto;
}
.main4 {
	position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    margin-top: 103px;
}

/*Menu*/
#Menu {
    position: absolute;
    top: 0;
    margin: 120px 0 121px 0;
}
#Menu h5 {
	color: #8f8f8f;
    font-size: 41px;
    margin-left: 22px;
    padding-top: 38px;
}
#Menu h5 .text{
	color: #2fceff;
}
.ayudamovil {
    border: 0px solid;
    box-shadow: 4px 2px 11px 0 #000;
    background-color: white;
    border-top: 6px solid #2fceff;
    width: 237px;

}
ul.list-unstyled {
    margin-top: 23px;
}
ul.list-unstyled li {
    padding: 7px 0 21px;
    font-size: 16px;
    text-decoration: none;
}
ul.list-unstyled li a {
    font-size: 17px;
    text-decoration: none;
    margin-left: 24px;
    color: #8f8f8f;
}
ul.list-unstyled li:hover {
    background-color: #01c3ff;
}
ul.list-unstyled li a:hover {
    color: white;
    font-weight: bold;
}
.subtitle-1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 7px
}
span.text2 {
    font-weight: bold;
}
#main3 ul a {
    text-decoration: none;
}
.menubox-1 {
    text-align: center;
    font-size: 26px;
}
.menubox-1 li {
    display: block;

}
button {
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
}
button span {
    font-size: 17px;
    margin: 21px;
}
.subbox-1 {
    display: inline-block;
}
.subtitle-1 h2 {
    font-size: 36px;
}
.subbox-2 {
    display: inline-block;
    margin: 0 26px;
}
.subbox-3 {
    display: inline-block;
}
.arrow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    font-size: 110px;
    top: 609px;
    text-align: center;
}
.arrow span {
    color: white;
}
.subtitle-4 {
    text-align: center;
    margin-top: 103px;
    color: #8f8f8f;
}
.subtitle-4 h2 {
    font-size: 40px;
}
.text5 p {
    text-align: center;
    font-size: 23px;
    color: #8f8f8f;
}
.support .text {
    display: inline-block;
    margin-left: 24px;
    margin-top: 0px;
    font-size: 27px;
    color: #465157;
    font-weight: 900;
}
.support .text6 {
    text-align: center;
}
.support .text6 p {
    text-align: center;
    font-size: 19px;
    color: #8f8f8f;
}
hr{
    width: 49px;
    border: 2px solid #01c3ff;
    margin-bottom: 36px;
}
.imagen-2 img {
    width: 139px;
    height: 145px;
}
.subbox-4 button {
    background-color: transparent;
    color: #01c3ff;
    border: 1px solid #01c3ff;
    font-size: 18px;
}
.subbox-4 button span {
    font-size: 12px;
    margin: 21px;
}
p.text7 {
    color: #5b5b5b;
    font-size: 15px;
    font-weight: bold;
}
.text3 {
    color: #01c3ff;
}
.text3-1 {
    color: #01c3ff;
    font-size: 31px;
    font-weight: 500;
}
.Details-product {
    text-align: center;
}
.menubox-2.clearfix {
    display: inline-block;
    margin-top: 100px;
    margin-left: 50px;
}
.reference-1.pull-left {
    text-align: left;
    margin: 25px;
}
.subbox-4 {
    margin-top: 60px;
    text-align: left;
}
.box2.menubox-2.pull-left {
    margin-left: 65px;
}
button.button1 {
    margin-left: 10px;
}
#main5{
	text-align: center;
    background-color: #01c3ff;
    padding: 56px 0 56px 0;
    margin: 200px 15px 50px 15px;
}
.subtitle-3 {
    color: white;
}
#main5 span.text4 {
    font-weight: bold;
}
.imagen-4 img {
    width: 100%;
}
.subtitle-5 {
    text-align: center;
    margin-top: 82px;
    color: #8f8f8f;
}
.imagen-5 img {
    width: 400px;
    height: 550px;
    margin-top: 20px;
}	
.Data-imagen-0 img {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #8f8f8f;
}
.Data-imagen-1{
	margin: 27px 0 27px 0;
}
.Data-imagen-1 img {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #8f8f8f;
}
.product-Details {
    display: inline-block;
    margin-left: 18px;
}
.text8 {
    display: inline-block;
    margin-left: 33px;
}
.subbox-5 {
    display: inline-block;
}
.subbox-5 button {
    background-color: transparent;
    color: #01c3ff;
    border: 1px solid #01c3ff;
    font-size: 30px;
    padding: 0 12px;
}
.subbox-6 {
    display: inline-block;
    margin-left: 10px;
}
.subbox-6 button {
    background-color: transparent;
    color: #01c3ff;
    border: 1px solid #01c3ff;
    font-size: 30px;
    padding: 0 12px;
}
.data-product {
    margin-top: 56px;
}
.imagen-5 {
    float: left;
}
.Product-Details.clearfix {
    float: left;
    margin-left: 200px;
}
.Product-Details.pull-left {
    margin-left: 100px;
}
.support {
    text-align: center;
    margin-top: 150px;
}
.support1 {
    border: 1px solid #8f8f8f;
    display: inline-block;
    padding: 39px 87px 32px 88px;
}
.Details-imagen-1 {
    display: inline-block;
    float: left;
}
.Details-imagen-1 img {
    width: 84px;
}
.video{
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
.Videos.clearfix {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 140px;
}
.videos-1 img {
    max-width: 600px;
}
.videos-2 img {
    max-width: 600px;
}
/*footer*/
nav.navbar.navbar-inverse.navbar-fixed-down {
    border-radius: 0px;
    text-align: center;
    margin: 0 auto;
}
.container-fluid .Nav3 {
    display: inline-block;
}
.Nav3 ul.nav.navbar-nav {
    border-bottom: 3px solid #277cb0;
    margin-bottom: 9px;
}
.Nav3 .text10 {
    color: #506374;
    font-size: 10px;
}
.Nav3 li.li1 {
    margin-left: 100px;
    display: inline-block;
}
.navbar-inverse .Nav3 .navbar-nav>li>a {
    padding: 20px 0 12px 0;
    font-size: 14px;
}